body{
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: black;
}

/* Header Properties */
.navbar-container{
    background-color: black;
    display: flex;
    height: 75px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index:99;
    text-align: center;
}
.navbar-content-1{
    display: flex;
    margin-left: 9vw;
    margin-right: auto;
    transition: all 300ms;
}
.navbar-content-2{
    display: flex;
    margin-left: auto;
    margin-right: 10vw;
    transition: all 300ms;
    justify-content: center;
}
#navbar-logo{
    width: 225px;
    height: auto;
    overflow: hidden;
    margin-top: 4px;
}
.buy-box{
    height: 50px;
    min-height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 220ms;
    border: 1px solid white;
    background-color: white;
}
.buy-box h1{
    width: 100px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    letter-spacing: -1px;
    font-family: "Oswald", sans-serif;
}
.buy-box a{
    text-decoration: none;
}
.buy-box:hover{
    background-color: #bfbfbf;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .navbar-container{
        justify-content: center;
    }
    .navbar-content-1{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-content-2{
        display: none;
        margin-left: 70px;
    }
    .buy-box h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#spacer{
    height: 40px;
    padding-top: 150px;
    background: black;
}

/* SECTION 1 */
.section-1 {
    background-color: black;
    transition: all 300ms;
    width: 100%;
    margin: 0;
}
#wallpaper {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 650px) {
    .section-1 {
        background-color: black;
    }
    #spacer{
        height: 40px;
        padding-top: 3vh;
        background: black;
    }
}

/* SECTION 2 */
.section-2{
    background-color: black;
    margin: 0;
    width: 100%;
    font-weight: light;
}
.red-bar-2{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.coming-soon{
    display: flex;
}
#coming{
    margin-top: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.gallery-container{
    margin-top: -30px;
}
.photo-box {
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;
    transition: all 300ms;
}
.pic-box {
    width: 335px;
    margin: 5px 0 5px 0;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.pic-box h3{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.pic-box img{
    filter: brightness(0.85);
    width: 85%;
    max-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.pic-box img:hover{
    filter: brightness(1);
    cursor: pointer;
}
#badge{
    filter: brightness(0.75);
    margin-top: -40px;
    width: 720px;
    max-width: 720px;
    height: auto;
    margin-left: -25px;
    margin-right: -25px;
    transition: all 300ms;
}
#badge:hover{
    filter: brightness(1);
}
@media only screen and (max-width: 1370px) {
    #badge{
        display: none;
     }
}
@media only screen and (max-width: 650px) {
    .section-2{
        background-color: black;
        width: 100%;
    }
    .red-bar-2{
        width: 30px;
        height: 4px;
        background-color: #982a2a;
        border: none;
    }
    #coming{
        margin-top: 15px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .pic-box img{
        width: 90%;
        max-height: auto;
        margin-left: 15px;
        margin-right: 25px;
        margin-top: 15px;
    }
    .pic-box h3{
        color: white;
        font-size: 20px;
        font-weight: lighter;
    }
}

/* SECTION 3 */
.section-3{
    transition: all 300ms;
    background-color: black;
    width: auto;
}
.red-bar-3{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.prison{
    display: flex;
}
#prison{
    margin-top: 25px;
    width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.prison-description{
    margin: -25px 20vw 0 20vw;
}
.prison-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#red-font{
    color: #982a2a;
}
.prison-carousel{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}
.prison-carousel img{
    width: 70%;
    margin-top: 15px;
}
@media only screen and (max-width: 850px) {
    .prison-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-3{
        width: 30px;
        height: 4px;
        background: #d43a3a;
        border: none;
        margin-bottom: 15px;
    }
    .prison-description{
        margin: -35px 50px 0 50px;
    }
    .prison-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    .prison-carousel{
        width: 90%;
    }
    #prison{
        margin-top: 0;
        margin-bottom: 50px;
        min-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .prison{
        padding-left: 3vw;
        padding-right: 2vw;
        margin-bottom: 5px;
    }
}

/* TWENTYTWENTY OVERLAY */
.compare{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-top: 30px;
}
.twentytwenty-overlay{
    display: none;
}

/* SECTION 4 */
.section-4{
    transition: all 300ms;
    background-color: black;
    width: auto;
    padding-bottom: 20px;
}
.red-bar-4{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.new-ksg{
    display: flex;
    justify-content: center;
}
#ksg{
    margin-top: 25px;
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.ksg-description{
    margin: -25px 15vw 0 15vw;
}
.ksg-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#ksg-carousel{
    display: flex;
    justify-content: center;
}
#ksg-carousel img{
    width: 100%;
    margin-bottom: 30px;
}
@media only screen and (max-width: 850px) {
    .ksg-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-4{
        width: 30px;
        height: 4px;
        background-color: #982a2a;
        border: none;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .new-ksg{
        display: flex;
        justify-content: center;
    }
    .ksg-description{
        margin: -35px 50px 0 50px;
    }
    .ksg-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    .compare{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #ksg{
        min-width: 95%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .new-ksg{
        padding-top: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 20px;
    }
}

/* SECTION 5 */
.section-5{
    transition: all 300ms;
    background-color: black;
    width: auto;
    padding-bottom: 20px;
}
.red-bar-5{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.new-ks23{
    display: flex;
    justify-content: center;
}
#ks23{
    margin-top: 25px;
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.ks23-description{
    margin: -25px 15vw 0 15vw;
}
.ks23-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#ks23-carousel{
    display: flex;
    justify-content: center;
}
#ks23-carousel img{
    width: 100%;
    margin-bottom: 30px;
}
@media only screen and (max-width: 850px) {
    .ks23-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-5{
        width: 30px;
        height: 4px;
        background-color: #982a2a;
        border: none;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .new-ks23{
        display: flex;
        justify-content: center;
    }
    .ks23-description{
        margin: -35px 50px 0 50px;
    }
    .ks23-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    .compare{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #ks23{
        min-width: 95%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .new-ks23{
        padding-top: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 20px;
    }
}

/* SECTION 6 */
.section-6{
    transition: all 300ms;
    background-color: black;
    width: auto;
}
.red-bar-6{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.new-detainer{
    display: flex;
    justify-content: center;
}
#detainer{
    margin-top: 25px;
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.detainer-description{
    margin: -25px 15vw 0 15vw;
}
.detainer-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#detainer-container{
    display: flex;
    justify-content: center;
}
.image-wrapper-detainer{
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#detainer-wrapper-small{
    width: 30%;
    height: auto;
}
#detainer-wrapper-wide{
    width: 50%;
    height: auto;
}
#detainer-small{
    transition: all 300ms;
    max-width: 100%;
    height: 100%;
}
#detainer-wide{
    transition: all 300ms;
    max-width: 100%;
    height: 100%;
}
.image-wrapper-detainer img:hover {
    transform:scale(1.05);
}
@media only screen and (max-width: 850px) {
    .detainer-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-6{
        width: 30px;
        height: 4px;
        background-color: #982a2a;
        border: none;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .new-detainer{
        display: flex;
        justify-content: center;
    }
    .detainer-description{
        margin: -35px 50px 0 50px;
    }
    .detainer-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    #detainer-container{
        display: flex;
    }
    #detainer-wrapper-wide{
        display: none;
    }
    #detainer-wrapper-small{
        width: 85%;
    }
    #detainer-small{
        max-width: 100%;
        height: 100%;
    }
    #detainer{
        min-width: 95%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .new-detainer{
        padding-top: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 20px;
    }
}

/* SECTION 7 */
.section-7{
    transition: all 300ms;
    background-color: black;
    width: auto;
}
.red-bar-7{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.new-captive{
    display: flex;
    justify-content: center;
}
#captive{
    margin-top: 25px;
    max-width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.captive-description{
    margin: -25px 15vw 0 15vw;
}
.captive-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#captive-container{
    display: flex;
    justify-content: center;
}
.image-wrapper-captive{
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#captive-wrapper-small{
    width: 30%;
    height: auto;
}
#captive-wrapper-wide{
    width: 50%;
    height: auto;
}
#captive-small{
    transition: all 300ms;
    max-width: 100%;
    height: 100%;
}
#captive-wide{
    transition: all 300ms;
    max-width: 100%;
    height: 100%;
}
.image-wrapper-captive img:hover {
    transform:scale(1.05);
}
@media only screen and (max-width: 850px) {
    .captive-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-7{
        width: 30px;
        height: 4px;
        background-color: #982a2a;
        border: none;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .new-captive{
        display: flex;
        justify-content: center;
    }
    .captive-description{
        margin: -35px 50px 0 50px;
    }
    .captive-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    #captive-container{
        display: flex;
    }
    #captive-wrapper-wide{
        display: none;
    }
    #captive-wrapper-small{
        width: 85%;
    }
    #captive-small{
        max-width: 100%;
        height: 100%;
    }
    #captive{
        min-width: 95%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .new-captive{
        padding-top: 3vh;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 20px;
    }
}

/* SECTION 8 */
.section-8{
    transition: all 300ms;
    background-color: black;
    width: auto;
}
.red-bar-8{
    width: 35px;
    height: 5px;
    background-color: #982a2a;
    border: none;
    margin: 0 auto 0 auto;
}
.woodland{
    display: flex;
}
#woodland{
    margin-top: 25px;
    width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.woodland-description{
    margin: -25px 20vw 0 20vw;
}
.woodland-description p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#red-font{
    color: #982a2a;
}
.woodland-carousel{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
.woodland-carousel img{
    width: 70%;
}
.photo-box-skin {
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pic-box-skin {
    width: 500px;
    margin: 5px 0 5px 0;
    display: inline-block;
    text-align: center;
    justify-content: center;
    transition: all 400ms;
}
.pic-box-skin h3{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.skin-overlay{
    display: flex;
}
.skin-overlay h3{
    z-index: 3;
    margin-top: -50px;
    margin-left: 100px;
}
#skin-button{
    transition: all 200ms;
    opacity: 0;
    position: absolute;
    width: 455px;
    height: 258px;
    margin-top: -265px;
    margin-left: 23px;
}
#overlay-logo{
    position: absolute;
    max-width: 70px;
    max-height: auto;
    margin-top: -85px;
    margin-left: 30px;
}
#skin-button:hover {
    opacity: 0.08;
}
.pic-box-skin img{
    width: 90%;
    max-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 850px) {
    .woodland-description{
        margin: -25px 10vw 0 10vw;
    }
}
@media only screen and (max-width: 650px) {
    .red-bar-8{
        width: 30px;
        height: 4px;
        background: #d43a3a;
        border: none;
        margin-bottom: 15px;
    }
    .woodland-description{
        margin: -35px 50px 0 50px;
    }
    .woodland-description p{
        text-align: center;
        color: white;
        font-size: 17px;
        font-weight: 400;
    }
    #skin-button{
        visibility: hidden;
    }
    .woodland-carousel{
        /* width: 90%; */
        display: none;
    }
    #woodland{
        margin-top: 0;
        margin-bottom: 50px;
        min-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .woodland{
        padding-left: 3vw;
        padding-right: 2vw;
        margin-bottom: 5px;
    }
}
